.header-contact {
    height: 100%;
    width: 100px;
    font-size: 1.15rem;
    font-weight: 600;
    background: transparent;
    color: rgb(27, 164, 156);
    border: 3px solid rgb(27, 164, 156);
    border-radius: 25px;

    &:hover {
        background-color: rgb(27, 164, 156) ;
        color: white;
    }
}

.links {
    display: flex;
       a {
         border-top-right-radius: 0 !important;
         border-bottom-right-radius: 0 !important;
     }

     button {
         border-top-left-radius: 0 !important;
         border-bottom-left-radius: 0 !important;
         border-left: 0px !important;
     }
}

@media(max-width: 700px) {
    .header-contact {
        width: 80px;
        font-size: 0.9rem;
    }
}

.home-header {
        margin: 2rem;

        h1 {
            font-weight: 700;
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
            margin-top: 0.8rem;
        } 
    }

.main {
    height: 550px;
}

.home-images {
    height: 100px;
    transform: translateY(9px);

    img {
        height: 100%;
    }
}

.home-message {
    color: white; 
    height: 100%;
    width: 100%;
    background: rgb(27, 164, 156);
    text-align: center;

    div {
        transform: translateY(50px);

        h1 {
            font-weight: 700;
            font-size: 1.25rem;
        }

        p {
            font-size: 1.15rem;
            margin-top: 1.5rem;
            margin: auto;
            width: 75%;
            display: inline-block;
        }
    }
}

.home-skillz {
    background: #FFF;
    border-radius: 20px;
    border: 3px solid #f1f1f1;
    box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.09);
    width: 90%;
    font-weight: 500;

     .col:before {
        background: #f1f1f1;
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        height: 5px;
        width: 100%;
        top: 0;
    }

    .col:first-child:before {
        display: none;
    }

    i, h5 {
        color: rgb(27, 164, 156);
    }

    i {
        font-size: 2rem;
    }

    p {
        width: 90% !important;
        margin: auto;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }
}

.skillz-container {
    margin-top: 80px;
}

.skillz-content {
    margin: 60px auto;
}

.recent-work {
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
    min-height: 500px;
    color: white;

    a:hover {
        text-decoration: none;
    }
}

.recent-work-header {
    h2 {
        font-size: 2.5rem;
        border-bottom: 5px solid #FFF;
        display: inline-block;
        padding-bottom: 1rem;
    }
}

.recent-work-tile {
    height: 200px;
    border-radius: 20px;
    border: 1px solid grey;
    cursor: pointer;

    &:hover {
        .hover {
            opacity: 1;
        }
    }

    .hover {
        height: 100%;
        width: 100%;
        opacity: 0;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.75);
        transition: all .4s ease-in-out; 
        color: white;
    }
}

.morris {
    background: url(/public/images/morris.JPG);
    background-size: 100%;
}

.retro {
    background: url(/public/images/retro.JPG);
    background-size: 100%;
}

.happy_perm {
    background: url(/public/images/perm.gif);
    background-size: 100%;
}

// Translate Y 1px to fix Chrome white line issue
.triangle {
    margin-top: 200px;
    height: 100px;
    transform: translateY(1px);
    background-color: #191a1d;
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}

.footer {
    height: 400px;
    background-color: #191a1d;

    h1 {
        font-size: 2rem;
        text-align: center;
    }
    p {
        font-size: 1rem;
        text-align: center;
    }

    i {
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        font-size: 1rem;
    }

    .contact-footer {
        height: 40px;
        width: 150px;
        border-radius: 30px;
        font-size: 1rem;
    }

    .contact-links {
        div {
            text-align: start;

            a {
                color: #6c757d;
            }
        }
    }
}

@media( max-width: 390px ) {
    .home-message {
        div {
            p {
                font-size: 1rem;
            }
        }
    }
}

@media( min-width: 767px) {
    .home-images {
        height: 250px;
        transform: translateY(9px);

        img {
            height: 100%;
        }
    }

   .home-header {
        margin: 4rem;

        h1 {
            font-weight: 700;
            font-size: 3.2rem;
        }

        p {
            font-size: 1.75rem;
            margin-top: 1.5rem;
        }
    }

    .main {
        height: 800px;
    }

    .home-message {
        div {
            transform: translateY(80px);

            h1 {
                font-weight: 700;
                font-size: 2rem;
            }

            p {
                font-size: 1.25rem;
                margin-top: 1.5rem;
                width: 600px;
            }
        }
    }

    .home-skillz {
        height: 1000px;
        transform: translateY(-130px);

        .col:after {
            background: #f1f1f1;
            bottom: 0;
            content: " ";
            left: 0;
            position: absolute;
            width: 3px;
            top: 0;
        }

        .col:first-child:after {
            display: none;
        }

        .col:last-child:before {
            display: none;
        }

        i {
            font-size: 2rem;
        }

        p {
            width: 200px;
            margin: auto;
        }

        li {
            margin: 0.5rem;
        }

    }

    .footer {
        height: 400px;
        background-color: #191a1d;

        h1 {
            font-size: 3.5rem;
            text-align: left;
        }
        p {
            font-size: 2rem;
            text-align: left;
        }

        i {
            font-size: 2rem;
        }
        a {
            text-decoration: none;
            font-size: 2rem;
        }

        .contact-footer {
            height: 60px;
            width: 250px;
            border-radius: 30px;
            font-size: 1.5rem;
        }
    }
}